// swatches
$black      : hsla(0, 0, 15%, 1);
$primary_cl : hsl(333, 72, 76);
$cart_bg    : #ffffff;
$panel_bg	: hsl(0, 0, 100%);
$page_bg    : hsl(0, 0, 92);
$tasty_bg   : hsl(67, 75, 95);
$drink_bg   : hsl(341, 75, 95);
$lazycat_bg : hsl(186, 16, 85);
$activity_bg: grey;
$border_bg  : hsl(0, 0, 75);

$shadow_bg       : hsl(0, 0, 50);
$tag-border_color: hsl(174, 75, 33);