@property --SW__SCREEN_L    {syntax:"<length>"; inherits:true;  initial-value:0px;  } /*large-size screen breakpoint switcher, default: <turn-off> */
@property --SW__SCREEN_M    {syntax:"<length>"; inherits:true;  initial-value:0px;  } /*medium-size screen breakpoint switcher, default: <turn-off> */
@property --SW__SCREEN_S    {syntax:"<length>"; inherits:true;  initial-value:0px;  } /*small-size screen breakpoint switcher, default: <turn-off> */
@property --SW__SCREEN_XS   {syntax:"<length>"; inherits:true;  initial-value:0px;  } /*tiny screen breakpoint switcher, default: <turn-off> */

@property --x               {syntax:"<number>"; inherits:true;  initial-value:0;    }
@property --y               {syntax:"<number>"; inherits:true;  initial-value:0;    }
@keyframes -global-x-lerp   {to { --x:1 } }
@keyframes -global-y-lerp   {to { --y:1 } }

:root {
    /* Layout
    */
    --_:var(--_)    ; --ON:var(--_); --OFF:var(--_,); /*Cyclic Toggles*/
    --debug         : var(--OFF);
    --showGrid      : var(--OFF);
    --colourful     : var(--ON);
    --shadowy       : var(--ON);
    --3D            : var(--ON);
    --outline_size  : 1px;
    --outline_cl    : oklch(80% 0 0 / 50%);
    --grid          : conic-gradient(from 90deg at 2px 2px, transparent 90deg, var(--grid_cl) 0), conic-gradient(from 90deg at 1px 1px, transparent 90deg, var(--grid_cl) 0);
    --grid_sz       : calc(var(--s1)*4) calc(var(--s1)*4), var(--s1) var(--s1);
    /* @link https://utopia.fyi/grid/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --grid-max-width: 80rem;
    --grid-gutter   : var(--space-s-l, clamp(1.125rem, 0.6467rem + 2.3913vb, 2.5rem));
    --grid-columns  : 12;

    /* Typesetting
    */
    --leading       : calc(1em + var(--s1, 1.5rem));
    --measure       : 60ch;
    --letter-spacing: .35em;
    --stamp-size    : 2lh;
    --writing-mode  : vertical-rl;
    /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --s-2           : clamp(0.7813rem,  0.7747rem + 0.0326vb, 0.8rem);
    --s-1           : clamp(0.9375rem,  0.9158rem + 0.1087vb, 1rem);
    --s0            : clamp(1.125rem,   1.0815rem + 0.2174vb, 1.25rem);
    --s1            : clamp(1.35rem,    1.2761rem + 0.3696vb, 1.5625rem);
    --s2            : clamp(1.62rem,    1.5041rem + 0.5793vb, 1.9531rem);
    --s3            : clamp(1.9438rem,  1.7707rem + 0.8652vb, 2.4413rem);
    --s4            : clamp(2.3325rem,  2.0823rem + 1.2511vb, 3.0519rem);
    --s5            : clamp(2.7994rem,  2.4461rem + 1.7663vb, 3.815rem);
/*}
    /* Appearance
    */
/*@container style(--appearance: default) { :root { */
    --grid_cl       : #366;
    --dark          : oklch(32%     0       0);
    --alert_cl      : oklch(62.8%   .25     30);
    --activity_bg   : oklch(56%     0       0);
    --primary_cl    : oklch(80%     .116    351.5);
    --page_bg       : oklch(90%     .025    193);
    --tabpanel_bg   : oklch(97%     .006    75);
    --tasty_bg      : oklch(98.37%  .025    112.26);
    --drinks_bg     : oklch(95%     .025    356);
    --border_bg     : oklch(80%     0       0);
    --shadow_bg     : oklch(60%     0       0);
    --card_bg       : var(--dark);
    --input_normal_cl: oklch(from var(--primary_cl) calc(l + 10) calc(c * .65) h);
    /*--border-radius: 50% 40% / 10% 20%;*/
    --border-radius : .2em / .2em;
    --shadow1       : 0 1px 3px rgba(0,0,0,.15);
    --poster-shadow :
        1.2px   1.2px   2.2px   rgba(0, 0, 0, .02),
        3px     3px     5.3px   rgba(0, 0, 0, .028),
        5.6px   5.6px   10px    rgba(0, 0, 0, .035),
        10.1px  10.1px  17.9px  rgba(0, 0, 0, .042),
        18.8px  18.8px  33.4px  rgba(0, 0, 0, .05),
        45px    45px    80px    rgba(0, 0, 0, .07); /*generated by https://shadows.brumm.af */
    accent-color    : var(--primary_cl);
    scrollbar-color : var(--primary_cl) transparent;
    scrollbar-gutter: stable;
    scrollbar-width : thin;
    /*}*/
}
:root::-webkit-scrollbar { width:0px; }

* {
    outline:var(--outline_cl) var(--outline_size) var(--debug, dashed);
    outline-offset: calc(var(--outline_size) * -1);
}

body { writing-mode:var(--writing-mode); }

h1, h2, p, li { letter-spacing: .2rem; }

[alt] { font-size: var(--s-2) !important; }

img + figcaption {
    margin-block-start: 0;
    font-size: var(--s-2);
    line-height:normal;
}

table { border-collapse:collapse; font-variant-numeric:lining-nums tabular-nums; }
caption, th, td, input { text-wrap:nowrap; letter-spacing:var(--letter-spacing); }

::selection {
    color:  oklch(100% 0 0);
    background: var(--primary_cl);
}

:is(input,textarea):not([type="radio"]):not([type="checkbox"]) {
    border: 1px solid var(--primary_cl);
    background-color: var(--drinks_bg);
    padding: .2em !important;
}

:focus-visible {
    outline: thin solid var(--primary_cl);
    background-color: var(--input_normal_cl);
    box-shadow: 1px 1px 0 0 var(--primary_cl);
}
/*:user-valid    { border: 1px solid green; background-color: var(--input_normal_cl); }*/
:user-invalid  { background: linear-gradient(135deg, var(--alert_cl) 0, var(--alert_cl) .4em, var(--input_normal_cl) .4em); }
